@charset "UTF-8";
/* CSS Document */

 #welcome {
	font-size:40px;
	font-family: 'Quicksand', sans-serif;
	padding:20px;
	border:thick;
	border-color:black;
}

#text {
	font-size:21px;
	font-family:open sans;
	margin-left:10px;
	line-height:150%;
	color:#5E5E5E;
	padding-right:70px
}

#promo {
	background-color:white;
}

.Search {
  position: relative;
  width: 30rem;
  height: 3rem;
  margin: 25px auto;
  border: 1px solid #dcdcdc;
  background-color: #eee;
}

.Search-box {
  float: right;
  width: 50%;
  height: 100%;
  border: 0;
  outline: 0;
  padding-left: 0.75rem;
  font-style: italic;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: -webkit-transform ease 500ms;
  transition: -webkit-transform ease 500ms;
  transition: transform ease 500ms;
  transition: transform ease 500ms, -webkit-transform ease 500ms;
}
.Search-box:focus {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.Search-box:focus + .Search-box-label {
  z-index: -1;
  opacity: 0;
}
.Search-box:focus ~ .Search-close {
  z-index: 3;
  opacity: 1;
}

.Search-box-label,
.Search-close {
  position: absolute;
  right: 0;
  z-index: 2;
  cursor: pointer;
  height: 100%;
  width: 3rem;
  -webkit-transition: opacity ease 250ms 250ms;
  transition: opacity ease 250ms 250ms;
}

.Search-close {
  opacity: 0;
  z-index: 0;
}

.Search-icon,
.Search-close-icon {
  position: relative;
  margin-top:14px;
  margin-left:0px;
  color:rgb(241,237,234);
  overflow:hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.Search {
  content: "";
  display: table;
  clear: both;
  width:100%;
  padding-top:0px;
  padding-bottom:0px;
}
