@charset "UTF-8";
/* CSS Document */

 #welcome {
	font-size:40px;
	font-family: 'Quicksand', sans-serif;
	padding:20px;
	border:thick;
	border-color:black;
}

#text {
	font-size:21px;
	font-family:open sans;
	margin-left:10px;
	line-height:150%;
	color:#5E5E5E;
	padding-right:70px
}

#promo {
	background-color:white;
}
